@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: 'Ubuntu', sans-serif;
    }
}

/* .u-absoluteCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.u-flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-offscreen {
    position: absolute;
    left: -999em;
} */

/* .progress-timer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress-timer :first-child {
    margin-bottom: 20px;
} */

.progress {
    transform: rotate(-90deg);
}

.progress__meter, .progress__value {
    fill: none;
}

.progress__meter {
    stroke: #e6e6e6;
}

.progress__value {
    stroke: #f77a52;
    stroke-linecap: round;
}